* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoHeader {
    display: flex;
    justify-content: end;
    padding-left: 4em;
    padding-top: 4em;
}

.titleHeader {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    padding-top: 21em;
    padding-right: 6em;

}


