@font-face {
    font-family: 'Roboto-Regular';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Italic';
    src: url('./fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.rob {
    font-family: 'Roboto-Regular';
}

.rob-italic {
    font-family: 'Roboto-Italic';
}

.rob-bold {
    font-family: 'Roboto-Bold';
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #E5E5E5;
    font-family: 'Roboto-Regular';
}

.Header {
    position: relative  ; 
    height: 100vh  ;
    text-transform: "uppercase"  ;
    color: #fff  ;
}
.Header .overlay{
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), rgba(0, 0, 0, 0.1);
    width: 100%;
}

.Header .title {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    padding-top: 21em;
    padding-right: 6em;
    font-size: 36px !important;
    line-height: 42px;
}

.Logo {
    position: absolute;
    width: 132px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url(./img/logo.png);
    margin-left: 2em;
    margin-top: 2em;
}

.accordionCardHeader{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    background-color: aquamarine;
    cursor: pointer;
    color:#5B5959;
    text-transform: uppercase;
}

.card {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.text-gray{
    color: #9BA7AF;
}
.background-image {
    background-size: cover;
    background-repeat: no-repeat;
}
.hover-section{
    cursor: pointer;
}
.hover-section:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}