* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    position: relative  ; 
    height: 100vh  ;
    text-transform: "uppercase"  ;
    color: #fff  ;
}
.Header .overlay{
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%), rgba(0, 0, 0, 0.1);
    width: 100%;
}

.Header .title {
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: flex-end;
    padding-top: 21em;
    padding-right: 6em;
}

.Logo {
    position: absolute;
    width: 132px;
    height: 45px;
    background-repeat: no-repeat;
    background-image: url(./img/logo.png);
    margin-left: 2em;
    margin-top: 2em;
}