.accordion > .card {
  margin-bottom: 2em;
}

.accordion > .card > .card-header {
  background: #fff;
}

.accordion .card .card-header .btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6vh;
}

.containerInfo .accordion .card .card-header.infoCardHeader {
  background: #fff;
}

.containerInfo .accordion .card .card-header.infoCardHeader h2 {
  color: #0063c9;
  font-size: 32px;
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.containerInfo .card-header.infoCardHeader i {
  color: darkgrey;
  font-size: 18px;
}

.containerInfo .accordion .card .card-body div.boxType {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.containerInfo .accordion .card .card-body div.text-right p {
  font-weight: 650;
}

.containerInfo .accordion .card .card-body div.text-right span {
  color: #ffb400;
  font-weight: 600;
  font-size: x-large;
}

.containerInfo .accordion .card .card-body div.text-left h3 {
  color: #ffb400;
  margin-bottom: 10px;
  margin-top: 16px;
}

@media screen and (max-width: 1015px) {
    .containerInfo .accordion .card .card-header.infoCardHeader h2 {
        font-size: 18px;
    }

    .containerInfo .accordion .card .card-body {
      font-size: 14px;
    }
  }

@media screen and (max-width: 792px) {
  .containerInfo .accordion .card .card-header.infoCardHeader h2 {
      font-size: 15px;
  }

  .containerInfo .accordion .card .card-body {
    font-size: 12px;
  }
}
