.footer{
    background-color: #3382d4;
    width: 100%;
}

.footer__container{
    color:white;
    padding-top: 6vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    padding: 10px;
    border:none;
    border-radius: 20px;
}

@media screen and (max-width: 750px) {
    .footer__container{
        flex-direction: column;
        
    }
   
    }

