.mapComp{
    position:relative;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapComp_cardContainer{

    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 20px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.mapComp_cardContainer_mapWrapper{
    margin:0 auto; 
}

.cardTitle{
    font-size: 20px;
    margin: 2rem 0;
    color:#FFB400;
    font-size: 30px;
}

.breadCrumb{
    margin: 2rem 0;
    background-color: white;
}
.mapComp h5{
    font-size: 20px;
    text-transform: uppercase;
    color:rgb(169, 169, 169);
}