.ListaPosti h1 {
    font-size: 28px;
    color: #FFB400;
    font-weight: bold;
}

.ListaPosti h2 {
    font-size: 26px;
    font-weight: 500;
    color: #5B5959;
}

.ListaPosti h3 {
    font-size: 18px;
    font-weight: bold;
}

.ListaPosti h4 {
    font-size: 14px;
    font-weight: bold;
}

.ListaPosti h5 {
    font-size: 14px;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase!important;
}

.ListaPosti .nav-left {
    background-color: aquamarine;
}

.display-inline {
    display: inline;
}

.titoloGiorno {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.accomodationList {
    padding-top: 20px;
    padding-bottom: 20px;
}

.accomodation {}

.accomodationFotoGallery {
    display: flex;
    width: 100%;
}

.accomodationFoto {
    margin-right: 15px;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative
}

.accomodationInfo {
    padding: 20px;
}

.ListaPosti .tagContainer {
    display: flex;
}

.ListaPosti .tag {
    border-radius: 50px;
    border: 1px solid;
    padding: 5px 10px;
    margin-right: 2px;
    color: #0063C9;
}

.titoloAlternativa {
    font-size: 24px;
    line-height: 28px;
    padding-left: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 1px solid #bebebe;
}

.includeContainer {
    display: flex;
    justify-content: space-around;
}

.includeElement {
    display: flex;
    align-items: center;
    margin: 15px;
}

.infoText {
    padding-left: 15px;
}

.circle {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.circle-day div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.headerFotoContainer {
    display: flex;
    cursor: pointer;
}

.headerFoto {
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: 15px;
}

.transportsContainer {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.transportsInfoContainer {
    margin-left: 20px;
}

.transportsInfo {
    margin: 20px;
}

.transportsIcon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(255, 179, 0)
}

.starsContainer {
    margin-left: 10px;
    color:#FFD500;
}

.modal-transport {
    min-width: 50vw;
    padding: 30px;
}

.modal-accomodation {
    min-width: 70vw;
    padding: 30px;
}

.modal-img {
    min-width: 90vw;
    padding: 10px;
}

.modalImg {
    width: 100%;
    min-height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%
}

.carouselGallery {
    justify-content: flex-start;
    width: 100%;
}

.timelistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dottedLine {
    flex: 1;
    width: 12px;
    border-left: 12px;
    border-left-style: dotted;
    border-left-color: #fbcc40;
    
}

.circle-small {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.circle-day {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 10px;
    align-items: center;
    font-size: 12px;
    background-color: #FFD500;
    color: white;
    text-transform: uppercase;
}

.ggCircleDay {
    font-weight: bold;
    font-size: 1.8em;
}

.accordionCardHeader {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionCardHeader .nomePosto {
    display: flex;
    align-items: center;
}

.accordionCardHeader .arrowIcon {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.accordionCardHeader h1 {
    font-size: 32px;
    margin-top: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: #5B5959;
}

.accordionCardHeader h2 {
    font-size: 23px;
    margin-top: 10px;
    font-weight: 100;
    text-transform: uppercase;
    color: #9BA7AF;
}

@media screen and (max-width: 792px) {
    .ListaPosti h1 {
        font-size: 24px;
        color: #FFB400;
        font-weight: bold;
    }
    .ListaPosti h2 {
        font-size: 20px;
        font-weight: 500;
        color: #5B5959;
    }
    .ListaPosti h3 {
        font-size: 16px;
        font-weight: bold;
    }
    .accordionCardHeader h1 {
        font-size: 24px;
        margin-top: 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: #5B5959;
    }
    .accordionCardHeader h2 {
        font-size: 18px;
        margin-top: 10px;
        font-weight: 100;
        text-transform: uppercase;
        color: #9BA7AF;
    }
    .timelistContainer {
        display: none
    }
    .circle-day {
        width: 40px;
        height: 100%;
        border-radius: 2%;
        padding: 10px;
        align-items: center;
        font-size: 12px;
        background-color: #FFD500;
        color: white;
        text-transform: uppercase;
    }
}