.accordion>.card {
    margin-bottom: 2em;
}

.container .accordion .card .card-header h2 {
    color:#0063C9;
    font-size: 36px;
}

.container .card-header i {
    color: grey;
    font-size: 18px;
}

.container .accordion .card .card-body div.boxType {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.container .accordion .card .card-body div.text-right p {
    font-weight: 650;
}

.container .accordion .card .card-body div.text-right span {
    color: #FFB400;
    font-weight: 600;
    font-size: x-large;
}

.container .accordion .card .card-body div.text-left h3 {
    color:  #FFB400;
    margin-bottom: 10px;
}

.container .accordion .card .card-body div.text-left h6 {
    margin-bottom: 20px;
}